header, section {
    margin: auto;
    width: 48em;
}

header {
    padding: 2em;
}

body {
    font-family: Arial;
}

h1, h2, h3 {
    font-family: Tahoma;
}

h1 {
    background-color: aliceblue;
    padding: 5px;
}

h2 {
    color: white;
    background-color: #04AA6D;
    padding: 5px;
}

ul h3 {
    font-family: Arial, Helvetica, sans-serif;
}

ul p {
    max-width: 80%;
}

section {
    border-top-style: solid;
    border-color: black;
}

tr {
    border-bottom: 1px solid #000000;
}

td:nth-child(1) {
    width: 20%;
}

td:nth-child(2) {
    width: 50%;
}

td:nth-child(3) {
    width: 15%;
}

td:nth-child(4) {
    width: 15%;
}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}