:root {
  --red: #bd3b1b;
  --light-red: #d85e3f;
  --white: #f0f2e0;
  --lighter-grey: #d0d2c0;
  --light-grey: #b0b2a0;
  --orange: #d8a800;
  --light-green: #b9d870;
  --lighter-green: #cde398;
  --yellow-green: #b6c61a;
  --dark-green: #006344;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #f8f8f8;
}

body > * {
  flex: 1 0 auto;
}

nav {
  width: 100%;
  height: 45px;
  position: fixed;
  flex: 0 0 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: var(--red);
  align-items: stretch;
  font-family: 'Georgia';
}

nav > a, nav > div > a {
  flex: 1;
  color: var(--white);
  text-decoration: none;
  font-size: 2.2em;
  margin: 0;
  padding-top: 0px;
  text-align: center;
}

nav > a:hover {
  background-color: var(--light-red);
}

nav > a > img {
  width: 48px;
  height: 48px;
}

#counter {
  height: 2.5vh;
  width: 2.5vh;
  padding: 1px !important;
  border-radius: 50%;
  transform: translateY(100%) translateX(60%);
}

/*
  Takk til https://webaim.org/techniques/css/invisiblecontent/
*/
.hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.skipToContent {
  left: 50%;
  position: absolute;
  transform: translateY(-100%);
  color: var(--red);
}

.cartLink {
  position: relative;
  width: auto;
  text-align: center;
}

#counter {
  position: absolute;
  top: 0;
  right: 40%;
  padding: 0.2em 0.4em;
  font-size: 0.4em;
  background-color: var(--white);
  color: #000;
}

header {
  flex: 0 0 35vh;
  width: 100%;
  background-color: var(--red);
}

#banner {
  width: 100%;
  height: 35vh;
  overflow: hidden;
  background-image: url(img/banner.png);
  background-size: cover;
}

#heading-wrapper {
  margin-top: 8em;
  width: 100%;
  text-align: center;

}

h1, h2, h3 {
  font-family: 'Times New Roman';
}

h1 {
  display: inline-block;
  margin: auto;
  padding: 0.2em;
  width: auto;
  font-size: 2em;
  background-color: var(--white);
  box-shadow: 0px 0px 40px black;
  border-radius: 18px;
}

main {
  flex: 5 0 100%;
  width: 100%;
  max-width: 960px;
  background-color: var(--white);
}

#content {
  margin: 1em;
  max-width: 960px;
}

footer {
  width: 100%;
  flex: 0 1 3em;
  background-color: var(--red);
  text-align: center;
  font-weight: bold;
  color: var(--white);
}

/* ===== INDEX ===== */
#cow {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 308px;
  max-width: 50vw;
  max-height: calc(50vw * 0.77);
  padding: 0;
  background-image: url(img/cow.png);
  background-size: contain;
}

#eye-container {
  width: 40%;
  height: 80%;
  margin-top: 20%;
  margin-left: 60%;
  padding: 0;
}

.eye {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 15%;
  border: 3px black solid;
  border-radius: 50%;
  background-color: var(--white);
}

.pupil {
  position: absolute;
  top: 33%;
  left: 33%;
  width: 33%;
  height: 33%;
  transform: translate(0, -5px);
  border-radius: 50%;
  background-color: black;
}

/* ===== OM OSS ===== */
.information {
  line-height: 17pt;
  margin: 10px;
}

img.aboutImage {
  width: 350px;
  margin: 10px;
}

blockquote {
  line-height: 17pt;
}

/* ===== GÅRDER ===== */
.backLink:link, .backLink:visited {
  font-size: 0.9em;
  padding: 0.4em;
  border-radius: 12px;
  color: #000;
  background-color: var(--light-grey);
  text-decoration: none;
}

.backLink:hover {
  background-color: var(--lighter-grey);
}

.gårdPicture {
  width: 33%;
  height: 20%;  
  float: left;
  margin: 10px;
}

.gårdText {
   padding: 20px;
   margin-top: 0%;
}

.gårdAlign {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.gårdBox{
  width: 100%;
}

.gårdTittel{
  font-size: 2em;
  font-weight: bold;
  margin-top: 0%;
}

.gårdBox a{
  color: black;
}

.centerText{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.produkterDiv{
  border: 1px solid black;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.produktPicture{
  height: 100px;
  width: 100px;
  margin: 2px 5px 2px 2px;
  align-self: center;
}

.productTitle{
  margin-top: 10px;
  margin-bottom: 1px;
}

.shoppingCart{
  height: 60px;
  margin: 2px;
  align-self: center;
}

.productText{
  margin-bottom: 0px;
}

.handlekurvKnapp{
  background-color: Transparent;
  border: none;
}

.handlekurvKnapp:hover{
  background-color: gray;
}

.handlekurvKnapp:active{
  background-color: var(--light-green);

  animation: wiggle 0.1s;
}

@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  50% { transform: translate(-1px, -2px) rotate(-1deg); }
}

/* ===== KONTAKT ===== */
.contact {
  margin: 0.5em
}

#contact-form {
  margin: 4em 0.5em;
  width: 100%;
}

#contact-form > table {
  min-width: 48em;
  width: 100%;
}

#contact-form p {
  margin: 0em;
}

#contact-form div {
  margin: 1.5em 0;
  font-weight: 400;
}

#contact-form input {
  width: 20em;
  max-width: 90%;
}

#contact-form textarea {
  width: 40em;
  max-width: 90%;

}

#contact-form button {
  display: block;
}

.error {
  display: none;
  color: var(--red);
}

/* ===== HANDLEKURV ===== */
#handlekurv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#handlekurv > table {
  width: 75%;
  border-spacing: 0px;
}

#handlekurv  #tableTitle {
  background-color: var(--red);
  opacity: 100%;
}

#handlekurv tr {
  height: 5em;
  text-align: center;
}

#handlekurv tr:nth-child(1){
  height: 3em;
}

#handlekurv th {
  text-align: center;
  border: none;
  color: var(--white);
}

#handlekurv td:nth-child(1) {
  width: 10%;
}

#handlekurv td:nth-child(2){
  width: 40%;
}

#handlekurv td:nth-child(3){
  width: 10%;
}

#handlekurv td:nth-child(4) {
  width: 20%;
}
#handlekurv td:nth-child(5) {
  width: 20%;
}

#handlekurv tr:nth-child(odd) {
  background-color: var(--light-green);
}

#handlekurv tr:nth-child(even) {
  background-color: var(--lighter-green);
}

#handlekurv #purchase {
  height: 3em;
  width: 75%;
  background-color: var(--red);
  display: flex;
  flex-direction: row;
}

#handlekurv #finishTransaction {
  height: 100%;
  width: 75%;
  background-color: var(--red);
  border: none;
  color: var(--white);
  font-weight: bold;
  border-right: solid var(--white) 4px;
  cursor: pointer;
}

#handlekurv #totalCost {
  text-align: center;
  width: 100%;
  color: var(--white);
  font-weight: bold;
}

#handlekurv #costWrapper {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#handlekurv input {
  min-width: 10%;
  max-width: 80%;
}

#handlekurv img {
  width: 100%;
  height: 100%;
  margin-left: 2px;
}

/* Future */
@media (max-width: 480px) {
  nav {
    flex: 0 0 2.4em;
  }

  nav a {
    font-size: 1.2em;
  }

  nav a > img {
    width: 24px;
    height: 24px;
  }
}
